{% extends 'base.html' %}
{% block title%}About{% endblock title%}
{% block aboutactive %}active{% endblock aboutactive %}
{% block body %}
  <!-- About Section Starts -->
  <div class="container">
    <h2 class="text-center my-3">About Me</h2>
    <p class="my-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis neque suscipit nostrum,
      officiis sequi tempora laboriosam magnam amet doloremque modi architecto illo pariatur itaque impedit enim odio
      rerum veniam minima sed excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sequi sunt,
      cum architecto atque dignissimos possimus voluptate blanditiis quod, aut repellendus recusandae alias ipsam,
      aperiam ad quisquam expedita adipisci illo voluptatibus tempore eius eaque? Distinctio, facere quos eaque incidunt
      quo repellendus molestias veritatis ex consequatur nemo. Quam quod nisi quia.</p>
    <p class="my-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis neque suscipit nostrum,
      officiis sequi tempora laboriosam magnam amet doloremque modi architecto illo pariatur itaque impedit enim odio
      rerum veniam minima sed excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sequi sunt,
      cum architecto atque dignissimos possimus voluptate blanditiis quod, aut repellendus recusandae alias ipsam,
      aperiam ad quisquam expedita adipisci illo voluptatibus tempore eius eaque? Distinctio, facere quos eaque incidunt
      quo repellendus molestias veritatis ex consequatur nemo. Quam quod nisi quia.</p>
    <p class="my-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis neque suscipit nostrum,
      officiis sequi tempora laboriosam magnam amet doloremque modi architecto illo pariatur itaque impedit enim odio
      rerum veniam minima sed excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sequi sunt,
      cum architecto atque dignissimos possimus voluptate blanditiis quod, aut repellendus recusandae alias ipsam,
      aperiam ad quisquam expedita adipisci illo voluptatibus tempore eius eaque? Distinctio, facere quos eaque incidunt
      quo repellendus molestias veritatis ex consequatur nemo. Quam quod nisi quia.</p>

  </div>
  <!-- About Section Ends -->
  {% endblock body %}